@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* //background-color: brown; */
  background: #ffa17f;
  background: -webkit-linear-gradient(to right, rgb(68, 94, 116), #ffa17f);
  background: linear-gradient(to right, #00223e, #ffa17f);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input:-internal-autofill-selected {
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important;
}
/* #root > div > div:nth-child(2) > div > div{
  margin: 0px;
  padding:0px;
} */
button {
  align-items: center;
}
#change {
  font-size: 110px;
  color: rgb(2, 40, 78);
}
#root > div > div > ul > li:nth-child(2) > a {
  display: flex;
  text-align: ends;
  color: black;
  font-size: 23px;
  margin-top: 20px;
}
#root > div > div > ul {
  background-color: inherit;
  border-right: none;
  height: 0px;
}
#face{
  font-size:70px ;

}
